.container-header {
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  gap: 1rem;
  padding: 2.5rem 1rem;
  background: linear-gradient(79deg, var(--color-b3) 0%, var(--color-b1) 100%);
  border-radius: 0 0 50px 50px;
}

.container-header h1 {
  font: italic 2rem/1 var(--font-main);
  color: var(--color-e1);
  margin-bottom: 1rem;
  white-space: nowrap;
}

.header-input {
  display: flex;
  align-items: center;
}

.header-input input {
  width: 50vw;
  height: 100%;
  padding: 12px 6px;
  background: var(--color-bg);
  outline: none;
  border: none;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
  font: 1rem/1 var(--font-main);
  color: var(--color-text);
}

.header-input input::placeholder {
  font-style: italic;
}

.header-input button {
  padding: 6px;
  background: var(--color-b1);
  border-radius: 0 4px 4px 0;
  border: none;
  height: 100%;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
}

.header-input button img {
  width: 32px;
  height: 32px;
}

/* media queries */
@media(width <=700px) {
  .header-input input::placeholder {
    font-size: 0.875rem;
  }
}

@media(width <=500px) {
  .container-header h1 {
    font-size: 1.5rem;
  }
}