.main-title {
  font: italic 1.25rem/1 var(--font-main);
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem 0 2rem;
}

.task-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
}

.task-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.task-item p {
  font: 1.5rem/1 var(--font-main);
  color: var(--color-text);
  background: #C6C6C6;
  padding: 1.25rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.task-confirm {
  background: var(--color-b1);
  padding: 1.25rem;
  border: none;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-right: 2rem;
}

.task-confirm img {
  width: 2rem;
  height: 1.5rem;
}

.task-trash {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 1.5rem;
}

.task-trash img {
  height: 1.8rem;
}